.ico-burger {
    width: 30px;
    height: 4px;

    display: inline-block;

    background-color: #fff;
}

.ico-burger::before,
.ico-burger::after {
    content: '';

    position: relative;

    display: block;

    width: 30px;
    height: 4px;

    background-color: #fff;
}

.ico-burger::before {
    top: -8px;
}

.ico-burger::after {
    top: 4px;
}

.ico-search {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: transparent;

    display: inline-block;

    border: 3px solid white;

    position: relative;
}

.ico-search::after {
    content: '';

    display: block;

    width: 9px;
    height: 3px;

    background-color: #fff;

    position: absolute;

    bottom: -4px;
    right: -6px;

    transform: rotate(45deg);
}

.nav {
    display: flex;

    background-color: #5e7c36;

    border-radius: 10px;
    overflow: hidden;
}

.nav ul {
    display: flex;

    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;

    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;

    padding: 0px 40px;
    height: 100%;

    display: flex;
    align-items: center;
}

.nav a:hover {
    background-color: #87b04a;
}

.nav-toggle {
    border: 0;

    background: none;

    padding: 30px 40px;

    height: 100%;
}

.nav-toggle:hover {
    background-color: #87b04a;
    cursor: pointer;
}

.nav-search {
    margin-left: auto;
}

.nav-search form,
.nav-search-toggle {
    height: 100%;
}

.nav-search form {
    display: flex;
}

.nav-search input {
    display: none;
}

.nav-search-toggle {
    background: none;
    border: 0;

    padding: 0px 40px;

    position: relative;
    z-index: 1;
}

.nav-search-toggle:hover {
    background-color: #87b04a;
    cursor: pointer;
}

.nav-search-toggle.active ~ input {
    order: -1;
    align-self: center;

    border: 0;
    background-color: #ededed;

    padding: 10px 20px;

    color: #666;

    width: 200px;

    position: relative;
    right: -70px;
}