.nav-theme-2 {
    background-color: #fff;
    border-radius: 0;
}

.nav-theme-2 .nav-toggle .ico-burger,
.nav-theme-2 .nav-toggle .ico-burger::before,
.nav-theme-2 .nav-toggle .ico-burger::after {
    background-color: #999;
}

.nav-theme-2 .nav-toggle:hover .ico-burger,
.nav-theme-2 .nav-toggle:hover .ico-burger::before,
.nav-theme-2 .nav-toggle:hover .ico-burger::after {
    background-color: #fff;
}

.nav-theme-2 a {
    color: #999;
}

.nav-theme-2 a:hover {
    color: #fff;
}

.nav-theme-2 .nav-search-toggle .ico-search {
    border-color: #999;
}

.nav-theme-2 .nav-search-toggle .ico-search::after {
    background-color: #999;
}

.nav-theme-2 .nav-search-toggle:hover .ico-search {
    border-color: #fff;
}

.nav-theme-2 .nav-search-toggle:hover .ico-search::after {
    background-color: #fff;
}